<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Analyse</title>
  </head>
  <body>
    <h1>Current habits:</h1>
    <table>
      <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Periodicity</th>
        <th>Current streak</th>
        <th>Times broken</th>
        <th>Time created</th>
      </thead>
    </table>
    <h1>You can analyse your habits here:</h1>
    <button>Habits with same periodicity</button>
    <button>Longest run streak for all current habits</button>
  </body>
</html>
